*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.p
*.pyc
*~
larc_log*
experimentOutputs/
__pycache__
_build
jobs
data/geom/**/*.png
rust_compressor/target
*.cost
compressionMessages/
container.img
launchers/
!data/puddleworld/
data/taskRankGraphs
message
message2*
message_to_solver.txt
sklearn-container.img
.idea/
venv/
tests/out/
.DS_Store
core*
dev-container.img
solvers/**/*.merlin
